img {
    width: 220px;
    height: 147px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "URW Chancery L";
    font-size: 3.4em;
    text-align: center;
    color: black;
    text-shadow: #ffffff 0.7px 0.7px,
                 #ffffff -0.7px 0.7px,
                 #ffffff -0.7px -0.7px,
                 #ffffff 0.7px -0.7px;
    background: linear-gradient(to right, #D52200, #4700BE);
    border-radius: 11px 11px 11px 11px;
}

h2 {
    font-family: "Arial";
    font-size: 1.4em;
    margin-left: 7%
}

input {
    font-size: 1.4em;
    width: 90%;
    height: 30px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 47px 7px 7px 47px;
}

button {
    width: 7%;
    height: 37px;
    font-size: 1.4em;
    border-color: black;
    border-radius: 7px 47px 47px 7px;
}
