<!doctype html>
<html lang="fr">
    <head>
        <title>WebLanv</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    </head>

    <img src="static/images/logo.png" alt="[logo of WebLanc ;)]" >
    <h1>WebLanv</h1>

    <form method="post" action="{{url_for('get_url_feed')}}">
        <p>
            <input type="text" id="urltorss" name="urltorss" placeholder="Entrez l'url d'un réseau social pour en avoir un flux RSS !" size=74 />
            <button type="submit" title="Créer le flux RSS !"> → </button>
        </p>
    </form>

    <p>
        <h2>Lien RSS : {{message}}<a href="{{url}}">{{url}}</a></h2>
    </p>

</html>
